@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
footer {
  background-color: rgb(221, 220, 220);
}

main footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: rgb(221, 220, 220);
  margin-top: 5%;
  align-items: center;
  width: 100vw;
}
main footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
main footer div {
  display: inline-block;
  margin: 0.5rem;
}
main footer div img {
  width: 40px;
  height: 40px;
}

body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem;
}
body header .navbar {
  width: 100vw;
}
body header .navbar a {
  color: black;
}
body header .dropdown-menu {
  animation: growOut 0.5s ease-in-out forwards;
  transform-origin: top center;
}
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
body main .contenedor {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-height: 35rem;
  justify-content: center;
}
body main .contenedor .bienvenidaFoto {
  width: 100vw;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
  top: -40rem;
}
body main .contenedor .textoMain {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  margin: 0;
}
body main .sectionNovedades .novedades {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-shadow: 3px 3px 8px rgb(221, 220, 220);
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 700;
  text-shadow: #ccc;
}
body main .sectionNovedades .productosDestacados {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  margin-bottom: 0;
}
body main .sectionNovedades .productosDestacados img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  text-decoration: none;
}
body main .sectionNovedades .productosDestacados a,
body main .sectionNovedades .productosDestacados p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
  color: black;
  text-decoration: none;
}
body main .sectionRec .productosRecomendados {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}
body main .sectionRec .productosRecomendados .vento {
  display: block;
  padding: 2rem;
  border: solid;
  border-color: gray;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;
  border-width: 1px;
  text-decoration: none;
}
body main .sectionRec .productosRecomendados .vento img {
  margin-top: 1.5rem;
  height: 27rem;
}
body main .sectionRec .productosRecomendados .vento .car {
  margin-top: 0.25rem;
  color: #060606;
  text-decoration: none;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .vento .desc {
  color: rgb(119, 255, 255);
  margin-top: 1%;
  padding: 3px;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
  border-width: 10px;
  border: #060606;
  width: fit-content;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .golfgti {
  display: block;
  padding: 2rem;
  border: solid;
  border-color: gray;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;
  border-width: 1px;
  text-decoration: none;
}
body main .sectionRec .productosRecomendados .golfgti a {
  text-decoration: none;
}
body main .sectionRec .productosRecomendados .golfgti img {
  margin-top: 3rem;
  height: 27rem;
}
body main .sectionRec .productosRecomendados .golfgti .car {
  margin-top: 0.25rem;
  color: #060606;
  text-decoration: none;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .golfgti .desc {
  color: rgb(119, 255, 255);
  margin-top: 1%;
  padding: 3px;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
  border-width: 10px;
  border: #060606;
  width: fit-content;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .amarok {
  display: block;
  padding: 2rem;
  border: solid;
  border-color: gray;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;
  border-width: 1px;
  text-decoration: none;
}
body main .sectionRec .productosRecomendados .amarok .imgv6 {
  margin-top: 0.5rem;
  width: 120%;
  height: auto;
  justify-content: left;
}
body main .sectionRec .productosRecomendados .amarok .car {
  margin-top: 0rem;
  color: #060606;
  text-decoration: none;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .amarok .desc {
  color: rgb(119, 255, 255);
  margin-top: 2rem;
  padding: 3px;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
  border-width: 10px;
  border: #060606;
  width: fit-content;
  font-weight: 600;
}
body main .sectionRec .productosRecomendados .vento:hover {
  transform: scale(1.1);
  transition: 0.7s;
  background-color: #bebebe;
}
body main .sectionRec .productosRecomendados .golfgti:hover {
  transform: scale(1.1);
  transition: 0.7s;
  background-color: #bebebe;
}
body main .sectionRec .productosRecomendados .amarok:hover {
  transform: scale(1.1);
  transition: 0.7s;
  background-color: #bebebe;
}
body main .sectionRec h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
body main .sectionGrid {
  width: 85vw;
  margin-left: 7.5%;
}
body main .sectionGrid .titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: clamp(18px, 5vw, 1.75rem);
  margin-top: 10%;
}
body main .sectionGrid .gridComparacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 5px;
  max-height: fit-content;
}
body main .sectionGrid .items {
  border: 0.5px solid #ccc;
  background-color: rgb(221, 220, 220);
  justify-content: left;
}
body main .sectionGrid .imgGrid {
  max-width: 4%;
  margin: 0.25rem;
  justify-content: left;
  align-items: center;
}

/*ACA VA A ESTAR EL SCSS DE LAS PAGINAS SECUNDARIAS (NO LA PRINCIPAL)*/
body {
  width: 100vw;
  height: 100vh;
}
body main .contenedorTotal .dataCompra {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  justify-content: left;
  align-items: center;
}
body main .contenedorTotal .dataCompra .auto {
  width: 40%;
  margin-left: 2rem;
  background-color: #f4f4f4;
}
body main .contenedorTotal .dataCompra .letrasAuto {
  margin-left: 15%;
  margin-top: 5%;
}
body main .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
  font-size: 3rem;
}
body main .contenedorTotal .dataCompra .letrasAuto .precioAuto {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}
body main .contenedorTotal .espacioDesc {
  display: block;
  width: 100vw;
  background-color: rgb(221, 220, 220);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: black;
  font-size: 5vh;
  font-weight: 600;
}
body main .contenedorTotal .contenedorDes {
  position: static;
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 1rem;
}
body main .contenedorTotal .contenedorDes .txtDescripcion {
  margin: 0.25rem;
}
body main .contenedorTotal .contenedorDes .primeraParte {
  gap: 0.5rem;
  margin-left: 0.5rem;
  padding: 0;
}
body main .contenedorTotal .contenedorDes .consumo {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}
body main .contenedorTotal .contenedorDes .consumo p {
  padding-left: 1rem;
}
body main .contenedorTotal .contenedorDes .parteFinal {
  margin-left: 0.5rem;
}
body main .tituloOtrosAutos {
  font-size: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3%;
}
body main .otrosAutos {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-weight: 600;
  margin-top: 3rem;
  background-color: #f4f4f4;
}
body main .otrosAutos .otroAuto1 {
  width: 50vh;
  text-decoration: none;
  color: black;
  text-align: center;
}
body main .otrosAutos .otroAuto2 {
  width: 50vh;
  text-decoration: none;
  color: black;
  text-align: center;
}
body main .otrosAutos .otroAuto3 {
  width: 50vh;
  text-decoration: none;
  color: black;
  text-align: center;
}
body main .otrosAutos .otroAuto1:hover {
  transform: scale(1.1);
  transition: 0.7s;
}
body main .otrosAutos .otroAuto2:hover {
  transform: scale(1.1);
  transition: 0.7s;
}
body main .otrosAutos .otroAuto3:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

@media (max-width: 599px) {
  body {
    width: auto;
    height: 100vh;
    /*PAGINAS SEC*/
  }
  body header .navBar {
    width: 100vw;
    background-color: #f4f4f4;
  }
  body header .navBar .btn {
    font-size: 2rem;
    font-weight: 600;
  }
  body main {
    /*------- CAROUSEL VENTO----------*/
    /*------- CAROUSEL VENTO FIN ----------*/
    /*PAGINAS SEC*/
  }
  body main .carousel {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    border-radius: 5%;
    height: auto;
  }
  body main .carousel:hover {
    background-color: rgb(160, 160, 160);
  }
  body main .carousel-inner {
    text-align: center;
    text-decoration: none;
  }
  body main .carousel-inner img {
    margin: 0;
    width: 90%;
    height: auto;
    object-fit: cover;
    justify-content: center;
  }
  body main .carousel-inner .imgGolf {
    margin-top: -10%;
  }
  body main .carousel-inner .imgGolfG {
    margin-top: 5%;
  }
  body main .carousel-inner .imgAmarok {
    margin-top: 5%;
  }
  body main .carousel-inner a {
    text-decoration: none;
    text-align: center;
  }
  body main .carousel-inner a .tituloCarr {
    font-weight: 700;
    text-decoration: none;
    color: rgb(119, 255, 255);
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
    border-width: 10px;
    padding: 3px;
    width: fit-content;
    margin-left: 10%;
  }
  body main .carousel-control-prev-icon, body main .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  body main .contenedor {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-height: 35rem;
    justify-content: center;
  }
  body main .contenedor .bienvenidaFoto {
    width: 100vw;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    top: -40rem;
  }
  body main .contenedor .textoMain {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  body main .contenedorTotal .dataCompra {
    display: block;
  }
  body main .contenedorTotal .dataCompra .auto {
    display: block;
    width: 90vw;
    margin-top: 1rem;
    height: auto;
    margin-left: 0;
  }
  body main .contenedorTotal .dataCompra .letrasAuto {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 0;
    gap: 1rem;
    position: relative;
    color: black;
    font-size: xx-large;
  }
  body main .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    text-align: center;
    font-size: 2rem;
  }
  body main .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    font-size: 1.5rem;
  }
  body main .contenedorTotal .espacioDesc {
    display: block;
    width: 100vw;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: black;
    font-size: 3vh;
  }
  body main .contenedorTotal .consumo {
    font-size: 2vh;
    font-weight: 500;
  }
  body main .contenedorTotal div .txtDescripcion {
    font-size: 2vh;
  }
  body main .sectionRec h2 {
    color: black;
  }
  body main .sectionRec .productosRecomendados {
    width: 100vw;
  }
  body main .sectionRec .productosRecomendados .amarok {
    width: 90vw;
    height: auto;
  }
  body main .sectionRec .productosRecomendados .amarok img {
    width: 100vw;
    max-height: fit-content;
  }
  body main .sectionRec .productosRecomendados .amarok p {
    text-align: center;
  }
  body main .sectionRec .productosRecomendados .vento {
    width: 90vw;
    height: auto;
  }
  body main .sectionRec .productosRecomendados .vento img {
    width: 80vw;
    max-height: fit-content;
  }
  body main .sectionRec .productosRecomendados .vento p {
    text-align: center;
  }
  body main .sectionRec .productosRecomendados .golfgti {
    width: 90vw;
    height: auto;
  }
  body main .sectionRec .productosRecomendados .golfgti img {
    width: 80vw;
    max-height: fit-content;
  }
  body main .sectionRec .productosRecomendados .golfgti p {
    text-align: center;
  }
  body main .sectionGrid {
    width: 90vw;
    margin-left: 5%;
  }
  body main .tituloOtrosAutos {
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
  }
  body main .otrosAutos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: 2vh;
    font-weight: 600;
    margin-top: 3rem;
    margin: 0;
    width: 100%;
  }
  body main .otrosAutos p {
    font-size: 1rem;
  }
  body main .otrosAutos .otroAuto1 {
    width: 90vw;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  body main .otrosAutos .otroAuto2 {
    width: 80vw;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0;
  }
  body main .otrosAutos .otroAuto3 {
    width: 100vw;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  body footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-top: 2rem;
    width: 100vw;
  }
  body footer div {
    display: inline-block;
    margin: 0.5rem;
  }
  body footer div img {
    width: 40px;
    height: 40px;
  }
  /*-------FIN DESCRIPCION-----*/
  body main {
    /*FIN PAG amarok v6-------*/
  }
  body main .vento { /*PAGINA VENTO TSI*/ }
  body main .vento .btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    margin-bottom: 0;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    margin-top: 0;
    font-weight: 600;
  }
  body main .amarokv6 {
    /* PAGINA AMAROK V6 */
  }
  body main .amarokv6 .contenedorTotal .dataCompra .btn {
    margin-top: 7%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto {
    margin-left: 5%;
    gap: 0;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    text-align: left;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .dataB {
    text-align: left;
    color: rgb(114, 114, 114);
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    text-align: left;
    margin-top: 0;
  }
  body main .amarokv6 .contenedorVideo {
    margin-top: 15%;
    background-color: rgb(221, 220, 220);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    border: 5px;
    border-color: black;
  }
  body main .amarokv6 .contenedorVideo .video {
    width: 90%;
    margin-left: 5%;
    align-items: center;
    margin-top: 2.5%;
  }
  body main .golfR {
    /* PAGINA GOLF R */
  }
  body main .golfR .boton .btn {
    width: 50vw;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;
  }
  body main .golfR .contenedorTotal .descImagenes {
    display: grid;
    gap: 1.5rem;
    border-radius: 5%;
    grid-template-columns: 25% 25%;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 600;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .imeg {
    width: 50%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 600;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .imeg {
    width: 50%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 600;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .imeg {
    width: 50%;
    height: auto;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 600;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .imeg {
    width: 40%;
    height: auto;
  }
  body main .golfR .contenedorTotal .letrasAuto {
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .nombreAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .precioAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .datosA {
    color: rgb(114, 114, 114);
    text-align: left;
    margin: 0;
    text-shadow: black solid 1px;
  }
  /*FIN PAG GOLF R-------*/
}
@media (min-width: 600px) and (max-width: 1024px) {
  body {
    width: 100vw;
    height: auto;
  }
  body main {
    /*FIN PAG MAIN  */
  }
  body main .contenedor .textoMain {
    margin-left: 10%;
    top: 50%;
  }
  body main .sectionRec .productosRecomendados {
    width: 100%;
  }
  body main .sectionRec .productosRecomendados .amarok {
    width: 70vw;
    height: fit-content;
  }
  body main .sectionRec .productosRecomendados .amarok img {
    margin-top: 0;
    width: 110%;
    height: auto;
    margin-left: -2rem;
  }
  body main .sectionRec .productosRecomendados .golfgti {
    width: 70vw;
    height: fit-content;
  }
  body main .sectionRec .productosRecomendados .golfgti img {
    width: 80%;
    height: auto;
    margin-top: 0;
    margin-left: 2rem;
  }
  body main .sectionRec .productosRecomendados .golfgti p {
    text-align: left;
  }
  body main .sectionRec .productosRecomendados .vento {
    width: 70vw;
    height: fit-content;
  }
  body main .sectionRec .productosRecomendados .vento img {
    width: 90%;
    height: auto;
    margin-top: 0;
  }
  body main .contenedorTotal .dataCompra {
    margin-bottom: 15%;
  }
  body main .contenedorTotal .dataCompra .auto {
    width: 55vw;
    margin: 0;
  }
  body main .contenedorTotal .dataCompra .letrasAuto {
    margin-left: 1.5rem;
  }
  body main .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    font-size: 2rem;
  }
  body main .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    font-size: 2rem;
  }
  body main .contenedorTotal .espacioDesc {
    font-size: 2rem;
  }
  body main .contenedorTotal .contenedorDes .txtDescripcion {
    font-size: 1.5rem;
  }
  body main .contenedorTotal .contenedorDes .consumo {
    font-size: 1.75rem;
    font-weight: 500;
  }
  body main .otrosAutos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: 3vh;
    font-weight: 600;
    margin-top: 3rem;
    margin: 0;
    width: 100%;
  }
  body main .otrosAutos p {
    font-size: 1rem;
  }
  body main .otrosAutos .otroAuto1 {
    width: 50vw;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  body main .otrosAutos .otroAuto2 {
    width: 50vw;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0;
  }
  body main .otrosAutos .otroAuto3 {
    width: 60vw;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  footer {
    text-align: center;
    margin-top: 15rem;
    justify-content: center;
    background-color: #f4f4f4;
    display: inline-block;
    width: 100vw;
    padding: 1rem;
  }
  footer h3 {
    font-size: 2rem;
  }
  footer div {
    display: inline-block;
    margin: 0.25rem;
  }
  footer div img {
    width: 6vw;
    height: 6vw;
    margin: 1rem;
  }
  body main .vento { /*PAGINA VENTO TSI*/
    /*------- CAROUSEL VENTO----------*/
    /*------- CAROUSEL VENTO FIN ----------*/
  }
  body main .vento .carousel {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    border-radius: 5%;
    height: auto;
  }
  body main .vento .carousel:hover {
    background-color: rgb(160, 160, 160);
  }
  body main .vento .carousel-inner {
    text-align: center;
    text-decoration: none;
  }
  body main .vento .carousel-inner img {
    margin: 0;
    width: 90%;
    height: auto;
    object-fit: cover;
    justify-content: center;
  }
  body main .vento .carousel-inner .imgGolf {
    margin-top: -10%;
  }
  body main .vento .carousel-inner .imgGolfG {
    margin-top: 5%;
  }
  body main .vento .carousel-inner .imgAmarok {
    margin-top: 5%;
  }
  body main .vento .carousel-inner a {
    text-decoration: none;
    text-align: center;
  }
  body main .vento .carousel-inner a .tituloCarr {
    font-weight: 700;
    text-decoration: none;
    color: rgb(119, 255, 255);
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
    border-width: 10px;
    padding: 3px;
    width: fit-content;
    margin-left: 10%;
    font-size: 2rem;
  }
  body main .vento .carousel-control-prev-icon, body main .vento .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  body main .vento .btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    margin-bottom: 0;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    margin-top: 0;
    font-weight: 600;
  }
  body main .amarokv6 { /* PAGINA AMAROK V6 */ }
  body main .amarokv6 .contenedorTotal .dataCompra {
    display: block;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .auto {
    width: 80%;
    margin-left: 10%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .btn {
    position: absolute;
    margin-top: 7%;
    width: 30%;
    right: 19%;
    top: 21%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto {
    margin-left: 5%;
    gap: 0;
    margin-top: 10%;
    padding-top: 10%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    text-align: left;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .dataB {
    text-align: left;
    color: rgb(114, 114, 114);
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    text-align: left;
    margin-top: 0;
  }
  body main .amarokv6 .contenedorVideo .video {
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
  }
  body main .golfR .boton .btn {
    width: 50vw;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;
  }
  body main .golfR .contenedorTotal .descImagenes {
    display: grid;
    gap: 1.5rem;
    border-radius: 5%;
    grid-template-columns: 25% 25%;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }
  body main .golfR .contenedorTotal .descImagenes .motor p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .imeg {
    width: 50%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .imeg {
    width: 50%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .imeg {
    width: 50%;
    height: auto;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .imeg {
    width: 45%;
    height: auto;
  }
  body main .golfR .contenedorTotal .letrasAuto {
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .nombreAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .precioAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .datosA {
    color: rgb(114, 114, 114);
    text-align: left;
    margin: 0;
    text-shadow: black solid 1px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 1rem;
  }
  .navbar .btn {
    font-size: 1.5rem;
  }
  body {
    width: 100vw;
    height: auto;
  }
  body main .sectionNovedades .productosDestacados:hover {
    transform: scale(1.1);
    transition: 0.7s;
  }
  body main .sectionRec .productosRecomendados .golfgti img {
    width: 100%;
    margin-top: 0;
    height: max-content;
  }
  body main .sectionRec .productosRecomendados .vento img {
    width: 100%;
    height: fit-content;
  }
  body main .sectionRec .productosRecomendados .amarok img {
    margin: 0;
    width: 120%;
    height: fit-content;
  }
  /*MAIN*/
  .dataCompra {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    justify-content: left;
    align-items: center;
    margin-bottom: 15%;
  }
  .dataCompra .auto {
    width: 40vw;
    margin-left: 2rem;
    background-color: #f4f4f4;
  }
  .dataCompra .letrasAuto {
    margin-left: 90%;
    margin-top: 5%;
  }
  .dataCompra .letrasAuto .nombreAuto {
    font-size: 3rem;
  }
  .dataCompra .letrasAuto .precioAuto {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .dataCompra .btn {
    width: 100%;
    font-size: 2rem;
  }
  /*FIN MAIN*/
  /*DESCRIPCION*/
  .espacioDesc {
    font-size: 2rem;
    margin-top: 15rem;
  }
  .contenedorDes {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  .txtDescripcion {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  .consumo {
    font-weight: 600;
  }
  .consumo .txtDescripcion {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  /*FIN DESC*/
  /*OTROS AUTOS*/
  .tituloOtrosAutos {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30rem;
  }
  .otrosAutos {
    gap: 2rem;
    margin-top: 0rem;
    display: flex;
    background-color: #f4f4f4;
    align-items: baseline;
    flex-direction: row;
    font-size: 2rem;
    margin-bottom: 15%;
  }
  .otrosAutos .otroAuto1 {
    width: 80%;
  }
  .otrosAutos .otroAuto2 {
    width: 75%;
  }
  .otrosAutos .otroAuto3 {
    width: 80%;
  }
  .otrosAutos .otroAuto3 p {
    text-decoration: none;
  }
  footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: rgb(221, 220, 220);
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  footer div {
    display: inline-block;
    margin: 0.5rem;
  }
  footer div img {
    width: 40px;
    height: 40px;
  }
  body main .vento { /*PAGINA VENTO TSI*/
    /*------- CAROUSEL VENTO----------*/
    /*------- CAROUSEL VENTO FIN ----------*/
  }
  body main .vento .carousel {
    max-width: 50%;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    border-radius: 5%;
    height: auto;
  }
  body main .vento .carousel:hover {
    background-color: rgb(160, 160, 160);
  }
  body main .vento .carousel-inner {
    text-align: center;
    text-decoration: none;
  }
  body main .vento .carousel-inner img {
    margin: 0;
    width: 70%;
    height: auto;
    object-fit: cover;
    justify-content: center;
  }
  body main .vento .carousel-inner .imgGolf {
    margin-top: -5.7%;
  }
  body main .vento .carousel-inner .imgGolfG {
    margin-top: 5%;
  }
  body main .vento .carousel-inner .imgAmarok {
    margin-top: 5%;
  }
  body main .vento .carousel-inner a {
    text-decoration: none;
    text-align: center;
  }
  body main .vento .carousel-inner a .tituloCarr {
    font-weight: 700;
    text-decoration: none;
    color: rgb(119, 255, 255);
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
    border-width: 10px;
    padding: 3px;
    width: fit-content;
    margin-left: 10%;
    font-size: 1.75rem;
  }
  body main .vento .carousel-control-prev-icon, body main .vento .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  body main .vento .btn {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 5%;
  }
  body main .vento .contenedorTotal .descImagenes {
    display: grid;
    gap: 1.5rem;
    border-radius: 5%;
    grid-template-columns: 25% 25%;
    justify-content: center;
    margin: 5%;
    text-align: center;
  }
  body main .vento .contenedorTotal .descImagenes .motor p {
    font-size: 1.75rem;
  }
  body main .vento .contenedorTotal .descImagenes .motor .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .vento .contenedorTotal .descImagenes .motor .imeg {
    width: 10%;
    height: auto;
  }
  body main .vento .contenedorTotal .descImagenes .potencia p {
    font-size: 1.75rem;
  }
  body main .vento .contenedorTotal .descImagenes .potencia .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .vento .contenedorTotal .descImagenes .potencia .imeg {
    width: 10%;
    height: auto;
  }
  body main .vento .contenedorTotal .descImagenes .traccion p {
    font-size: 1.75rem;
  }
  body main .vento .contenedorTotal .descImagenes .traccion .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .vento .contenedorTotal .descImagenes .traccion .imeg {
    width: 10%;
    height: auto;
    margin: 5%;
  }
  body main .vento .contenedorTotal .descImagenes .combustible {
    font-size: 1.75rem;
  }
  body main .vento .contenedorTotal .descImagenes .combustible .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .vento .contenedorTotal .descImagenes .combustible .imeg {
    width: 15%;
    height: auto;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    margin-bottom: 0;
  }
  body main .vento .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    margin-top: 0;
    font-weight: 600;
  }
  body main .amarokv6 {
    /* PAGINA AMAROK V6 */
  }
  body main .amarokv6 .contenedorTotal .dataCompra {
    display: block;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .btn {
    margin-top: 0;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .auto {
    margin-left: 10%;
    margin-top: -5%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto {
    margin-left: 5%;
    gap: 0;
    margin-bottom: 0;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .nombreAuto {
    text-align: left;
    margin-top: 5%;
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .dataB {
    text-align: left;
    color: rgb(114, 114, 114);
  }
  body main .amarokv6 .contenedorTotal .dataCompra .letrasAuto .precioAuto {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0%;
  }
  body main .amarokv6 .contenedorVideo .video {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
  }
  body main .golfR .boton .btn {
    width: 25vw;
    justify-content: center;
    text-align: center;
    margin-left: 37.5%;
    margin-top: 2%;
  }
  body main .golfR .contenedorTotal .descImagenes {
    display: grid;
    gap: 1.5rem;
    border-radius: 5%;
    grid-template-columns: 25% 25%;
    justify-content: center;
    margin: 5%;
    text-align: center;
  }
  body main .golfR .contenedorTotal .descImagenes .motor p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .motor .imeg {
    width: 10%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .potencia .imeg {
    width: 10%;
    height: auto;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion p {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .traccion .imeg {
    width: 10%;
    height: auto;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible {
    font-size: 1.75rem;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .txtSec {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin: 5%;
  }
  body main .golfR .contenedorTotal .descImagenes .combustible .imeg {
    width: 15%;
    height: auto;
  }
  body main .golfR .contenedorTotal .letrasAuto {
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .nombreAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .precioAuto {
    text-align: left;
  }
  body main .golfR .contenedorTotal .letrasAuto .datosA {
    color: rgb(114, 114, 114);
    text-align: left;
    margin: 0;
    text-shadow: black solid 1px;
  }
}

/*# sourceMappingURL=estilos.css.map */
