* {
    margin: 0;
    padding: 0;

}

@media(max-width: 599px) {
    body {
        height: 100vh;
        width: 100vh;

    }

    /*navbar-------*/
    .navbar {
        width: 100vh;
        background-color: #f4f4f4;

        .btn {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    /*FIN-------navbar---------*/


    /*-----DETALLES COMPRA----*/
    .golfr {
        width: 100vh;
        margin-top: 5rem;
        height: auto;
    }

    .dataCompra {
        .letrasAuto {

            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            margin-left: 0;
            gap: 1rem;
            text-align: center;

            .nombreAuto{
                text-align: center;
            }

            .btn {
                display: block;
                width: 50vh;
                align-items: center;
                margin-left: 25vh;
                font-size: 5vh;
            }
        }
    }

    .letrasAuto {
        color: black;
        font-size: xx-large;

    }

    /*-----FIN DETALLES COMPRA-----*/

    .espacioDesc {
        display: block;
        width: 100vh;
        background-color: #f4f4f4;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: black;
        font-size: 5vh;

    }

    /*-----DESCRIPCION------*/
    .contenedorDes {
        position: static;
        font-size: 4vh;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .primeraParte {
        gap: 0.5rem;
        margin-left: 0.5rem;
        padding: 0;
    }

    .consumo {
        display: flex;
        margin-left: 1rem;
        flex-direction: column;


        p {
            padding-left: 1rem;
        }
    }

    .txtDescripcion {
        margin: 0.25rem;
    }

    .parteFinal {
        margin-left: 0.5rem;
    }

    /*-------FIN DESCRIPCION-----*/
    .tituloOtrosAutos{
        font-size: 3rem;
        text-align: center;
        margin-top: 10rem;
    }
    
    .otrosAutos {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        font-size: 3.5vh;
        font-weight: 600;
        margin-top: 3rem;

        .vento {
            width: 50vh;
            text-decoration: none;
            color: black;
            text-align: center;
        }

        .golfgti {
            width: 50vh;
            text-decoration: none;
            color: black;
            text-align: center;
        }

        .amarok {
            width: 50vh;
            text-decoration: none;
            color: black;
            text-align: center;

        }

    }


    /*footer*/
    footer {
        text-align: center;
        display: inline-block;
        padding: 1rem;
        background-color: #f4f4f4;
        margin-top: 2rem;
        width: 100vh;
    }

    footer div {
        display: inline-block;
        margin: 0.5rem;
    }

    footer div img {
        width: 40px;
        height: 40px;
    }

    /*fin footer*/
}










/*---ADAPTACION PANTALLAS-----*/

/*---Tablet---*/
@media (min-width: 600px) {


    body {
        height: 100vh;
        width: 100vw;
    }

    /*NAVBAR*/
    .navbar {
        width: 100%;
        background-color: #f4f4f4;

        .btn {
            font-size: 3vw;
        }
    }

    /*FIN NAVBAR*/


    /*DATA*/

    .golfr {
        width: 80%;
        margin-top: 5rem;
        justify-content: center;
        margin-left: 10%;

    }


    .dataCompra {
        display: flex;
        text-align: center;
        flex-direction: column;
        

        .letrasAuto {
            margin-top: 5rem;
            .nombreAuto {
                font-size: 3.5rem;
            }

            .precioAuto {
                font-size: 3.5rem;
                margin-top: 1rem;
            }
        }
    }

    

    .dataCompra .btn {
        width: 40%;
        margin-top: 1rem;
        font-size: 2rem;
    }

    /*FIN DATA*/
    /*DESCRPCION*/
    .espacioDesc {
        font-size: 2rem;
        margin-top: 10rem;
        background-color: #f4f4f4;
        text-align: center;

    }

    .contenedorDes {
        font-size: 2rem;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 1rem;
    }

    /*FIN DESCRIPCION*/
    /*OTROS AUTOS*/
    .otrosAutos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 2.5rem;
        margin-top: 12rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .vento {
            width: 52vw;
            text-decoration: none;
            color: black;
            text-align: center;
        }

        .golfgti {
            width: 50vw;
            text-decoration: none;
            color: black;
            text-align: center;
        }

        .amarok {
            width: 55vw;
            text-decoration: none;
            color: black;
            text-align: center;

        }
        
    }

    .tituloOtrosAutos {
            font-size: 3rem;
            text-align: center;
            margin-top: 20%;
        }


    /*FOOTER*/
    footer {
        text-align: center;
        margin-top: 15rem;
        background-color: #f4f4f4;
        display: inline-block;
        width: 100vw;
        padding: 1rem;
        

    }

    footer h3 {
        font-size: 3rem;
    }

    footer div {
        display: inline-block;
        margin: 0.25rem;
    }

    footer div img {
        width: 6vw;
        height: 6vw;
        margin: 1rem;
    }

    /*FIN FOOTER*/
}

/* Ordenador (1024px y superiores) */
@media (min-width: 1024px) {
    .navbar {
        width: 100%;
        padding: 1rem;

        .btn {
            font-size: 1.5rem;
        }
    }
/*MAIN*/
    .dataCompra{
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        background-color: #f4f4f4;
        justify-content:left;
        align-items: center;
        .golfr{
            width: 40%;
            margin-left: 2rem;
            background-color: #f4f4f4;
        }
        .letrasAuto{
            
            margin-left: 15%;
            margin-top: 5%;
            .nombreAuto{
                font-size: 3rem;
            }        
            .precioAuto{
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
        .btn{
            width: 100%;
            font-size: 2rem;
        }
    }
/*FIN MAIN*/



/*DESCRIPCION*/
    .espacioDesc {
        font-size: 2rem;
        margin-top: 15rem;
    }

    .contenedorDes {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .consumo{
        .txtDescripcion{
            margin-left: 2rem;
        }
    }
/*FIN DESC*/


/*OTROS AUTOS*/
    .tituloOtrosAutos{
        text-align: center;
        font-size: 2.5rem;
        margin-top: 30rem;
    }
    .otrosAutos {
        gap: 2rem;
        margin-top: 0rem;
        display: flex;
        background-color: #f4f4f4;
        align-items: baseline;
        flex-direction: row;
        font-size: 2rem;
        .amarok{
            width: 90%;
        }
        .golfgti{
            width: 75%;
            
        }
        .vento{
            width: 75%;
            
        }
    }
/*FIN OTROS AUTOS*/

/*FOOTER*/
    footer {
        margin-top: 15rem;
        font-size: 1.5rem;
        padding: 0rem;
        

    }
    footer div h3{
        font-size: 2rem;
    }
    footer div img{
        width: auto;
        height: 5vh;
    }
}
/*fin footer*/


/*-----FIN--------*/