* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
  line-height: 1.6;
}

/*INICIO HEADER*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem;
}

/* ft main señor en playa */
.bienvenidaFoto {
  width: 100%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
  top: -40rem;


}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 35rem;
}

/* FOTO MAIN SEÑOR EN PLAYA */
.textoMain {
  position: absolute;
  top: 7.5rem;
  left: 25rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  margin: 0;

}


/*FIN HEADER*/
/*INICIO CONTENIDO*/
main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.novedades {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-shadow: #060606;
  color: #2a2929;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.productosDestacados,
section div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.productosDestacados img,
section div img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}

.productosDestacados h3,
section div p {
  text-align: center;
  font-size: 1rem;
  color: black;

}

/*------- hasta aca Golf R----------*/
/*-----------AUTOS REC---------*/


.productosRecomendados {
  font-weight: bold;
  color: black;
  justify-content: center;
  width: fit-content;
}

.vento {
  display: flexbox;
  padding: 2rem;
  border: solid;
  border-color: gray;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;
  border-width: 1px;
  img {
    margin-top: 3rem;
    max-width: 27rem;
    max-height: 27rem;

  }

  p {
    margin-top: 1.5rem;
  }
}

.golfgti {
  display: flexbox;
  padding: 2rem;
  border: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;
  .p {
    margin-top: -0.75rem;
  }
  .golfgtii {
    margin-top: 0rem;
    max-width: auto;
    max-height: 18rem;
    margin-left: -1rem;

  }
}


.amarok {
  display: flexbox;
  padding: 2rem;
  border: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 2%;
  background-color: rgb(221, 220, 220);
  box-shadow: none;
  height: 22rem;
  width: 32rem;

  img {
    margin-top: 2rem;
    max-width: 35rem;
    max-height: 35rem;
    margin-left: -4rem;
  }

  p {
    margin-top: 0.75rem;
  }

}

/* FIN -----------AUTOS REC---------*/

/*-------GRID--------*/

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: clamp(18px, 5vw, 1.75rem);
}

.gridComparacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  max-height: fit-content;

  gap: 5px;
}

.items {
  border: 0.5px solid #ccc;
  background-color: rgb(219, 217, 217);
}

.imgGrid {
  max-width: 5%;
  margin-top: 0.25rem;


}

/*FIN GRID*/



/*FIN CONTENIDO*/




/*INICIO FOOTER*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
  margin-top: 2rem;
}

footer h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer div {
  display: inline-block;
  margin: 0.5rem;
}

footer div img {
  width: 40px;
  height: 40px;
}

/*FIN FOOTER*/


/*ADAPTACION PANTALLAS*/



@media (max-width: 599px) {
  
  .bienvenidaFoto{
    width: 100vh;
    object-fit: cover;
    height: 40vh;
  }
  body{
    
    width: 100vh;
    height: 100vh;
  }
  .textoMain {
    font-size: 3rem;
    width: 50vh;
    top: 20%;
    left: 50%;
  }

  .productosDestacados h3, .productosRecomendados p {
    font-size: 0.9rem;
  }
  .gridComparacion{
    justify-content:center;
  }
  .amarok{
    width: 32rem;
    height: auto;
    .img{
      width: 30rem;
      height: auto;
    }
  }
  footer{
    max-height: fit-content;
    width: 100vh;
  }
}

