$primary-color: rgb(221, 220, 220);
$sec-color: #f4f4f4;
$box-color: rgb(82, 82, 82);
$theme: light;
$car-box: #bebebe;
$font-color: black;
$txtSec-Color: rgb(114, 114, 114);
$inner-box-color: rgb(119, 255, 255);