$primary-color: rgb(221, 220, 220);

body {
    
    header {
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem;
        .navbar {
            padding: 1rem;
            width: 100vw;
            background-color: $primary-color;
            a {
                color: black;
            }
        }
    }
}