$primary-color: rgb(221, 220, 220);
$sec-color: #f4f4f4;
$box-color: grey;
$theme: light;
$car-box: #bebebe;


body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    main {

        .contenedor {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            max-height: 35rem;
            justify-content: center;

            .bienvenidaFoto {
                width: 100vw;
                height: 50%;
                object-fit: cover;
                overflow: hidden;
                top: -40rem;
            }

            .textoMain {

                position: absolute;
                top: 60%;
                left: 20%;
                transform: translate(-50%, -50%);
                z-index: 1;
                text-align: center;
                color: white;
                font-size: clamp(1.5rem, 5vw, 4rem);
                font-weight: 900;
                line-height: 1.2;
                text-transform: uppercase;
                text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
                margin: 0;
            }
        }

        .sectionNovedades {
            .novedades {
                font-size: 3rem;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: capitalize;
                text-shadow: 3px 3px 8px $primary-color;
                color: rgb(0, 0, 0);
                text-decoration: none;
                text-align: center;     
                margin-bottom: 1rem;
                margin-top: 3rem;
                font-weight: 700;
                text-shadow: #ccc;
            }

            .productosDestacados {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                width: 100%;
                justify-content: center;
                text-decoration: none;
                align-items: center;
                margin-bottom: 0;
                

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 8px;
                    text-decoration: none;
                }

                a,
                p {
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 550;
                    color: black;
                    text-decoration: none;
                }
            }
        }

        .sectionRec {
            .productosRecomendados {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6rem;
                width: 100%;
                flex-wrap: wrap;
                margin: 0;

                .vento {
                    display: block;
                    padding: 2rem;
                    border: solid;
                    border-color: gray;
                    border-radius: 2%;
                    background-color: $primary-color;
                    box-shadow: none;
                    height: 22rem;
                    width: 32rem;
                    border-width: 1px;
                    text-decoration: none;
                    

                    img {
                        margin-top: 1.5rem;
                        height: 27rem;
                    }

                    .car {
                        margin-top: 0.25rem;
                        color: #060606;
                        text-decoration: none;
                        font-weight: 600;
                    }
                    .desc{
                        color: rgb(119, 255, 255);
                        margin-top: 1%;
                        padding: 3px;
                        background-color: rgb(65, 65, 65);
                        border-radius: 5px;
                        border-width: 10px;
                        border: #060606;
                        width: fit-content;
                        font-weight: 600;
                    }
                }


                .golfgti {
                    a{
                        text-decoration: none;
                    }
                    display: block;
                    padding: 2rem;
                    border: solid;
                    border-color: gray;
                    border-radius: 2%;
                    background-color: $primary-color;
                    box-shadow: none;
                    height: 22rem;
                    width: 32rem;
                    border-width: 1px;
                    text-decoration: none;

                    img {
                        margin-top: 3rem;

                        height: 27rem;

                    }

                    .car {
                        margin-top: 0.25rem;
                        color: #060606;
                        text-decoration: none;
                        font-weight: 600;
                    }
                    .desc{
                        color: rgb(119, 255, 255);
                        margin-top: 1%;
                        padding: 3px;
                        background-color: rgb(65, 65, 65);
                        border-radius: 5px;
                        border-width: 10px;
                        border: #060606;
                        width: fit-content;
                        font-weight: 600;
                    }
                }

                .amarok {
                    display: block;
                    padding: 2rem;
                    border: solid;
                    border-color: gray;
                    border-radius: 2%;
                    background-color: $primary-color;
                    box-shadow: none;
                    height: 22rem;
                    width: 32rem;
                    border-width: 1px;
                    text-decoration: none;

                    .imgv6 {
                        margin-top: 0.5rem;
                        width: 120%;
                        height: auto;
                        justify-content: left;
                    }

                    .car {
                        margin-top: 0rem;
                        color: #060606;
                        text-decoration: none;
                        font-weight: 600;
                    }
                    .desc{
                        color: rgb(119, 255, 255);
                        margin-top: 2rem;
                        padding: 3px;
                        background-color: rgb(65, 65, 65);
                        border-radius: 5px;
                        border-width: 10px;
                        border: #060606;
                        width: fit-content;
                        font-weight: 600;
                    }
                }
                .vento:hover{
                    transform: scale(1.1);
                    transition: 0.7s;
                    background-color: $car-box;
                }
                .golfgti:hover{
                    transform: scale(1.1);
                    transition: 0.7s;
                    background-color: $car-box;
                }
                .amarok:hover{
                    transform: scale(1.1);
                    transition: 0.7s;
                    background-color: $car-box;
                }
            }

            h2 {
                text-align: center;
                margin-top: 10%;
                margin-bottom: 2%;
            }
        }

        .sectionGrid {
            width: 85vw;
            margin-left: 7.5%;
            

            .titulo {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: lighter;
                font-size: clamp(18px, 5vw, 1.75rem);
                margin-top: 10%;
            }

            .gridComparacion {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                max-width: 100%;
                gap: 5px;
                max-height: fit-content;
                
            }

            .items {
                border: 0.5px solid #ccc;
                background-color: $primary-color;
                justify-content: left;
            }

            .imgGrid {
                max-width: 4%;
                margin: 0.25rem;
                justify-content: left;
                align-items: center;
            }
        }

    }
}